@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

a {
	color: white;
	text-decoration: none;
}

body {
	font-family: Montserrat, sans-serif;
	background-color: white;
	margin: 0;
	}

button {
	border-radius: 30px;
	background-color: plum;
	border: solid 1px white;
	height: 50px;
	width: 50px;
	}

h1, h2, h3, h4, h5, h6 {
	color: black;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}
.emptyAnswer {
		color: red;
		transform: rotate(-25deg);
		font-size: 25px;
		}

.post, .about {
		  max-width: 800px;
		  margin: 0 auto;
		  padding: 60px 0;
		}

.postAuthor span {
		  margin-left: 10px;
	}


.postContainer:nth-child(even) {
		  background-color: #f2f2f2;
	}

	.postDate {
  color: #d2d2d2;

  font-size: 14px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.postAuthor img {
		height: 50px;
		width: 50px;
		border-radius: 50px;
		vertical-align: middle;
	}

.signUp {
	padding: 5px;
	background-color: lightGray;
	border-radius: 30px;
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	}

.testAnswer {
	color: yellow;
	font-size: 20px;
	font-family: Verdana;
	margin-bottom: 100px;
	}

 .rightAnswer {
	color: purple;
	font-weight: bold;
	font-family: Arial;
	font-size: 30px;
	}

#testButton {
	width: 150px;
	height: 150px;
}
#content {
	margin: 0;
}

#header {
	background-color: plum;
	height: 150px;
	line-height: 150px;
	vertical-align: middle;
}

#header a {
	color: white;
	text-decoration: none;

	text-transform: uppercase;
	letter-spacing: 0.1em;
}

#header a:hover {
	color: black;
}

#headerTitle {
	display: block;
	float: left;
	padding: 5px 0 0 20px;

	font-size: 20px;
	font-weight: bold;
}

#headerNav {
	display: block;
	float: right;
	padding-top: 5px;
	padding-right: 20px;
	margin-top: 0;
	}

#headerNav li {
	display: inline;
	padding-left: 20px;
	font-weight: bold;
}

 #footer {
	background-color: SteelBlue;
	color: white;
	text-decoration: none;
	position: absolute;
	width: 100%;
	height: 6.5rem;
	bottom: 0;
 }

#footer p {
	left: 0;
}
